@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.navigation {
    background-color: #252629;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navigation img{
    margin: 0px 207px;
    width: 100px;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 192px;
}

.lista li, .lista a {
    color: #888;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    margin: 10px 6px;
    transition: all .15s ease-in-out;
}

.lista a:hover {
    color: #e8e6e7;
    border-bottom: 2px solid #e8e6e7;
}

.lista .check {
    color: #e8e6e7;
    border-bottom: 2px solid #e8e6e7;
}

.section01 {
    background-color: #4d92ca;
    padding: 100px 0px ;
}

.section01 .container {
    display: flex;
    justify-content: center;

}

.main-text {
    width: 500px;
    height: 200px;
    margin-right: 50px;
}

.main-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 15px;
}

.main-text p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 15px;
}

.main-text button {
    border: 4px solid #ffd562;
    border-radius: 10px;
    padding: 10px 45px;
    background: none;
    color: #ffd562;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .1s ease-in-out;
}

.main-text button:hover {
    color: white;
    border: 4px solid white;
    cursor: pointer;
}

.main-image img {
    width: 450px;
    height: 250px;
    margin-left: 50px;
}

.section02 {
    padding-top: 50px;
}

.section02 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252629;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards img {
    width: 200px;
    height: 200px;
    border: 5px solid #4c9fe2;
    border-radius: 15px;
    margin-bottom: 10px;
}

.cards p {
    color: #4B5563;
    font-size: 16px;
    text-align: center;
    width: 210px;
    margin-bottom: 50px;
}

.section03 {
    background-color: #e5e7eb;
}

.section03 p {
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 130px 0px 20px 0px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.section03 h3 {
    font-size: 1.5rem;
    width: 725px;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 130px;
    color: #1f2937;
}

.section04 {
    background: url(img/invincible-wallpaper.jpg);
    background-size: cover;
    background-position: right center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section04 .container {
    margin: 120px 400px 120px 70px;
    background-color: #4c9fe2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-text {
    color: white;
    padding: 50px 40px;
    width: 500px;
}

.call-to-action-button {
    padding: 10px 45px;
    margin: 0px 45px;
    background: none;
    border: 4px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    transition: all .1s ease-in-out;
}

.call-to-action-button:hover {
    border: 4px solid #ffd562;
    color: #ffd562;
    cursor: pointer;
}

footer {
    background-color: #1f2937;
    padding: 45px;
}

footer p {
    margin: auto;
    width: 900px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}